In [115]:
import pandas as pd 
import numpy as np 
import json

In [119]:
df_chicago = pd.read_csv('chicago.csv')
df_1 = pd.read_csv('chicago.csv')
df_chicago['Start Time'] = df_chicago['Start Time'].astype('datetime64')
df_chicago['Month'] = df_chicago['Start Time'].dt.month_name()
df_chicago['Week Day'] = df_chicago['Start Time'].dt.day_name()
df_chicago['Hour'] = df_chicago['Start Time'].dt.hour
df_chicago_Month = df_chicago[df_chicago['Month'] == 'February']
df_chicago_Day = df_chicago_Month[df_chicago_Month['Week Day'] == 'Tuesday']
df_chicago_Day

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,Month,Week Day,Hour
147,273417,2017-02-28 07:39:05,2017-02-28 07:45:04,359,Kingsbury St & Kinzie St,Michigan Ave & Lake St,Subscriber,Male,1991.0,February,Tuesday,7
174,275028,2017-02-28 10:03:30,2017-02-28 10:16:45,795,Damen Ave & Augusta Blvd,Winchester Ave & Elston Ave,Subscriber,Male,1972.0,February,Tuesday,10
243,175166,2017-02-14 21:03:32,2017-02-14 21:12:28,536,Ellis Ave & 60th St,Kimbark Ave & 53rd St,Subscriber,Female,1981.0,February,Tuesday,21
294,236346,2017-02-21 17:42:05,2017-02-21 17:50:49,524,Clark St & Congress Pkwy,Michigan Ave & 18th St,Subscriber,Male,1978.0,February,Tuesday,17
398,234788,2017-02-21 16:35:11,2017-02-21 16:51:10,959,Clark St & Randolph St,Loomis St & Taylor St (*),Subscriber,Male,1984.0,February,Tuesday,16
...,...,...,...,...,...,...,...,...,...,...,...,...
299527,170532,2017-02-14 09:12:18,2017-02-14 09:18:52,394,Clark St & Lake St,Cityfront Plaza Dr & Pioneer Ct,Subscriber,Male,1986.0,February,Tuesday,9
299620,174810,2017-02-14 19:09:43,2017-02-14 19:16:33,410,Wentworth Ave & Archer Ave,Calumet Ave & 18th St,Subscriber,Male,1989.0,February,Tuesday,19
299646,277346,2017-02-28 16:57:01,2017-02-28 17:01:47,286,Sheffield Ave & Wellington Ave,Southport Ave & Wellington Ave,Subscriber,Female,1991.0,February,Tuesday,16
299708,168895,2017-02-14 06:34:50,2017-02-14 06:47:08,738,Columbus Dr & Randolph St,Morgan St & Lake St,Subscriber,Male,1987.0,February,Tuesday,6
299904,137125,2017-02-07 08:12:07,2017-02-07 08:19:12,425,Clinton St & Madison St,Dearborn St & Monroe St,Subscriber,Male,1992.0,February,Tuesday,8

In [57]:
most_frequent_month = df_chicago['Month'].value_counts().idxmax() + ': ' + str(df_chicago['Month'].value_counts().max())
print(most_frequent_month)
print(df_chicago['Week Day'].value_counts().idxmax())
most_frequent_hour = str(df_chicago_Day['Hour'].value_counts().idxmax()) + ': ' + str(df_chicago_Day['Hour'].value_counts().max())
print(most_frequent_hour)

June: 98081
Tuesday
17: 723

In [62]:
most_frequent_start = df_chicago_Day['Start Station'].value_counts().idxmax() + ': ' + str(df_chicago_Day['Start Station'].value_counts().max())
print(most_frequent_start)

most_frequent_end = df_chicago_Day['End Station'].value_counts().idxmax() + ': ' + str(df_chicago_Day['End Station'].value_counts().max())
print(most_frequent_end)

Clinton St & Washington Blvd: 122
Clinton St & Washington Blvd: 110

In [58]:
df_chicago_Day['Trip'] = df_chicago_Day['Start Station'] + ', ' + df_chicago_Day['End Station']
df_chicago_Day['Trip'].value_counts()

<ipython-input-58-cc08da22ff61>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_chicago_Day["Trip"] = df_chicago_Day["Start Station"] + ", " + df_chicago_Day["End Station"]

Columbus Dr & Randolph St, Clinton St & Washington Blvd           9
State St & 33rd St, Calumet Ave & 33rd St                         8
Wacker Dr & Washington St, Michigan Ave & Washington St           7
Southport Ave & Wellington Ave, Sheffield Ave & Wellington Ave    7
Clinton St & Washington Blvd, Michigan Ave & Lake St              6
                                                                 ..
Wabash Ave & Grand Ave, Canal St & Madison St                     1
Streeter Dr & Grand Ave, Lake Shore Dr & Belmont Ave              1
Kingsbury St & Kinzie St, Franklin St & Quincy St                 1
Clinton St & Madison St, Wilton Ave & Diversey Pkwy               1
LaSalle St & Washington St, Clark St & Chicago Ave                1
Name: Trip, Length: 3837, dtype: int64

In [63]:
print(df_chicago_Day['Trip Duration'].sum())
print(df_chicago_Day['Trip Duration'].mean())

3415956
695.5723885155772

In [74]:
type_count = df_chicago_Day['User Type'].value_counts()

for i in range(len(type_count)) : 
    print(type_count.index[i] + ': ' + str(type_count[i]) + ', ' , end = '')

Subscriber: 4654, Customer: 257,

In [99]:
Gender_count = df_chicago_Day['Gender'].value_counts()

for i in range(len(type_count)) : 
    print(type_count.index[i] + ': ' + str(type_count[i]) + ', ' , end = '')

Subscriber: 4654, Customer: 257,

In [123]:
df_random = df_1.sample(5).to_dict(orient='records')

for item in df_random :
    print(json.dumps(item,indent =1 ))

{
 "Unnamed: 0": 886013,
 "Start Time": "2017-05-18 14:55:16",
 "End Time": "2017-05-18 15:02:30",
 "Trip Duration": 434,
 "Start Station": "University Ave & 57th St",
 "End Station": "Cottage Grove Ave & 51st St",
 "User Type": "Subscriber",
 "Gender": "Male",
 "Birth Year": 1993.0
}
{
 "Unnamed: 0": 317674,
 "Start Time": "2017-03-08 08:34:56",
 "End Time": "2017-03-08 08:54:22",
 "Trip Duration": 1166,
 "Start Station": "Ashland Ave & Grand Ave",
 "End Station": "Mies van der Rohe Way & Chicago Ave",
 "User Type": "Subscriber",
 "Gender": "Female",
 "Birth Year": 1985.0
}
{
 "Unnamed: 0": 560681,
 "Start Time": "2017-04-16 13:10:17",
 "End Time": "2017-04-16 14:14:04",
 "Trip Duration": 3827,
 "Start Station": "Wells St & Concord Ln",
 "End Station": "Lake Shore Dr & North Blvd",
 "User Type": "Customer",
 "Gender": NaN,
 "Birth Year": NaN
}
{
 "Unnamed: 0": 1878,
 "Start Time": "2017-01-02 08:16:18",
 "End Time": "2017-01-02 08:18:50",
 "Trip Duration": 152,
 "Start Station": "Woodlawn Ave & 55th St",
 "End Station": "Ellis Ave & 55th St",
 "User Type": "Subscriber",
 "Gender": "Female",
 "Birth Year": 1960.0
}
{
 "Unnamed: 0": 1010912,
 "Start Time": "2017-05-29 17:07:59",
 "End Time": "2017-05-29 17:19:39",
 "Trip Duration": 700,
 "Start Station": "Sheridan Rd & Irving Park Rd",
 "End Station": "Halsted St & Diversey Pkwy",
 "User Type": "Subscriber",
 "Gender": "Male",
 "Birth Year": 1978.0
}

In [97]:
df_chicago_Day.rename(columns={'population':'',}, inplace=True)

D:\anaconda\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [126]:
df_chicago['Gender'].mode()[0]

'Male'

In [1]:
df_chicago['Month'] = df_chicago['Start Time'].dt.month
df_chicago

NameError: name 'df_chicago' is not defined

#### filter function

In [110]:
import time
import pandas as pd
import numpy as np
import json

#### filter data

In [121]:
CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

time_filter_list = ['month', 'day', 'both', 'none']
month_list = ['january', 'february', 'march', 'april', 'may', 'june']
day_list = ['saturday', 'sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday']
time_filter = ''
city = ''

def get_filters():
    
    '''
    Asks user to specify a city, month, and day to analyze.

    Returns:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or 'all' to apply no month filter
        (str) day - name of the day of week to filter by, or 'all' to apply no day filter
    '''
    
    global city
    global time_filter
    
    print('Hello! Let\'s explore some US bikeshare data!')
    # TO DO: get user input for city (chicago, new york city, washington). HINT: Use a while loop to handle invalid inputs
    city = input('Would you like to see data for Chicago, New York City, or Washington?\n').lower()
    
    while city not in CITY_DATA.keys() :
        print('Invalid Value')
        city = input('Would you like to see data for Chicago, New York City, or Washington?\n').lower()

   
    time_filter = input('Would you like to filter the data by month, day, both, or not at all?\
    Type \'None\' for no time filter\n').lower()
    
    while time_filter not in time_filter_list :
        print('Invalid Value')
        time_filter = input('Would you like to filter the data by month, day, both, or not at all?\
    Type \'None\' for no time filter\n').lower()
        
    # TO DO: get user input for month (all, january, february, ... , june)
    if (time_filter == 'month') or  (time_filter == 'both') :
        month = input('Which Month? January, February, March, April, May, or June?\
        Please, type out the full month name\n').lower()
        
        while month not in month_list :
            print('Invalid Value')
            month = input('Which Month? January, February, March, April, May, or June?\
        Please, type out the full month name\n').lower()
            
    else :
        month = 'all'
    
    
    # TO DO: get user input for day of week (all, monday, tuesday, ... sunday)
    if (time_filter == 'day') or  (time_filter == 'both') :
        day = input('Which Day?  Please, type out the full day name\n').lower()
        
        while day not in day_list :
            print('Invalid Value')
            day = input('Which Day?  Please, type out the full day name\n').lower()
            
    else :
        day = 'all'

    print('-'*40)
    return city, month, day

#### Load Data Function

In [122]:
def load_data(city, month, day):
    
    '''
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or 'all' to apply no month filter
        (str) day - name of the day of week to filter by, or 'all' to apply no day filter
    Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    '''
    df = pd.read_csv(CITY_DATA[city])
    df['Start Time'] = df['Start Time'].astype('datetime64')
    df['Month'] = df['Start Time'].dt.month_name()
    df['Week Day'] = df['Start Time'].dt.day_name()
    
    
    if month != 'all' :
        df = df[df['Month'] == month.title()]
    
    if day != 'all' :
        df = df[df['Week Day'] == day.title()]

    return df

#### TIme Stats

In [123]:
def time_stats(df):
    """Displays statistics on the most frequent times of travel."""
    
    global time_filter
    
    print('\nCalculating The Most Frequent Times of Travel...\n')
    start_time = time.time()

    # TO DO: display the most common month
    month_count = df['Month'].value_counts()
    month_count_max = month_count.max()
    month_most_common = month_count.idxmax()
    
    if (time_filter == 'day') or (time_filter == 'none') :
        print('\nCalculating The Most Frequent Month of Travel...\n')
        print('Most Common Month: {}, Count: {}, Filter: {}'.format(month_most_common,month_count_max,time_filter))



    # TO DO: display the most common day of week
    week_day_count = df['Week Day'].value_counts()
    week_day_count_max = week_day_count.max()
    week_day_most_common = week_day_count.idxmax()
    
    if (time_filter == 'month') or (time_filter == 'none') :
        print('\nCalculating The Most Frequent Day of Travel...\n')
        print('Most Common Day: {}, Count: {}, Filter: {}'.format(week_day_most_common,week_day_count_max,time_filter))

    # TO DO: display the most common start hour
    df['Start Hour'] = df['Start Time'].dt.hour
    start_hour_count = df['Start Hour'].value_counts()
    start_hour_count_max = start_hour_count.max()
    start_hour_most_common = start_hour_count.idxmax()
    
    print('\nCalculating The Most Frequent Hour of Travel...\n')
    print('Most Common Start Hour: {}, Count: {}, Filter: {}'.format(start_hour_most_common,start_hour_count_max,time_filter))

    print('\nThis took %s seconds.' % (time.time() - start_time))
    print('-'*40)

#### Station Stats

In [124]:
def station_stats(df):
    """Displays statistics on the most popular stations and trip."""

    print('\nCalculating The Most Popular Stations and Trip...\n')
    start_time = time.time()

    # TO DO: display most commonly used start station
    start_station_count = df['Start Station'].value_counts()
    start_station_count_max = start_station_count.max()
    start_station_most_common = start_station_count.idxmax()
    
    print('\nCalculating The Most Start Station...\n')
    print('Most Common Start Station: {}, Count: {}'.format(start_station_most_common,start_station_count_max))
    
    # TO DO: display most commonly used end station
    end_station_count = df['End Station'].value_counts()
    end_station_count_max = end_station_count.max()
    end_station_most_common = end_station_count.idxmax()
    
    print('\nCalculating The Most Popular End Station...\n')
    print('Most Common End Station: {}, Count: {}'.format(end_station_most_common,end_station_count_max))

    # TO DO: display most frequent combination of start station and end station trip
    df['Trip'] = df['Start Station'] + ', ' + df['End Station']
    trip_count = df['Trip'].value_counts()
    trip_count_max = trip_count.max()
    trip_most_common = trip_count.idxmax()
    
    print('\nCalculating The Most Popular Trip...\n')
    print('Most Common Trip: {}, Count: {}'.format(trip_most_common,trip_count_max))

    print('\nThis took %s seconds.' % (time.time() - start_time))
    print('-'*40)

#### Trip duration Stats

In [125]:
def trip_duration_stats(df):
    """Displays statistics on the total and average trip duration."""

    print('\nCalculating Trip Duration...\n')
    start_time = time.time()

    # TO DO: display total travel time
    total_travel_time = df['Trip Duration'].sum()
    
    print('\nCalculating Total Trip Duration...\n')
    print('Total Travel Time: {}'.format(total_travel_time))

    # TO DO: display mean travel time
    print('\nCalculating Average Trip Duration...\n')
    average_travel_time = df['Trip Duration'].mean()
    print('Average Travel Time: {}'.format(average_travel_time))

    print('\nThis took %s seconds.' % (time.time() - start_time))
    print('-'*40)

#### User Stats

In [126]:
def user_stats(df):
    """Displays statistics on bikeshare users."""
    global city
    
    print('\nCalculating User Stats...\n')
    start_time = time.time()

    # TO DO: Display counts of user types
    
    print('\nCalculating User Types...\n')
    type_count = df['User Type'].value_counts()
    
    for i in range(len(type_count)) : 
        print ('{}: {}'.format(type_count.index[i],type_count[i]))


    # TO DO: Display counts of gender
    if city != 'washington' :
        
        print('\nCalculating User Gender...\n')
        gender_count = df['Gender'].value_counts()
        
        for i in range(len(gender_count)) : 
            print ('{}: {}'.format(gender_count.index[i],gender_count[i]))
        

    # TO DO: Display earliest, most recent, and most common year of birth
    if city != 'washington' :
        
        print('\nCalculating User Year of birth...\n')
        earliest_year = df['Birth Year'].min()
        most_recent_year = df['Birth Year'].max()
        most_common_year = df['Birth Year'].value_counts().idxmax()
        
        print('Earliest Year: {}'.format(earliest_year))
        print('Most Recent Year: {}'.format(most_recent_year))
        print('Most Common Year: {}'.format(most_common_year))
        

    print('\nThis took %s seconds.' % (time.time() - start_time))
    print('-'*40)

#### Display User Data

In [133]:
def display_user_data():
    """Displays data of five random users from the selected city and asking for input to display more random users."""
    global city
    df = pd.read_csv(CITY_DATA[city])
    df.rename(columns={'Unnamed: 0':'',}, inplace=True)
    df.fillna("Not Determined", inplace=True)
    
    df_random = df.sample(5).to_dict(orient='records')
    
    while True :
        
        print('\nDisplaying random individual trip data...\n')
        
        for item in df_random :
            print(json.dumps(item,indent =1 ))
            
        more_users = input('\nWould you like to view more individual trip data? Enter yes or no.\n').lower()
        
        if more_users != 'yes' :
            break

#### Main Function

In [134]:
def main():
    while True:
        
        city, month, day = get_filters()
        df = load_data(city, month, day)
        print(df)        
        time_stats(df)
        station_stats(df)
        trip_duration_stats(df)
        user_stats(df)
        display_user_data()

        restart = input('\nWould you like to restart? Enter yes or no.\n')
        if restart.lower() != 'yes':
            break


if __name__ == '__main__':
        main()

Hello! Let's explore some US bikeshare data!
Would you like to see data for Chicago, New York City, or Washington?
chicago
Would you like to filter the data by month, day, both, or not at all?    Type 'None' for no time filter
none
----------------------------------------
        Unnamed: 0          Start Time             End Time  Trip Duration  \
0          1423854 2017-06-23 15:09:32  2017-06-23 15:14:53            321
1           955915 2017-05-25 18:19:03  2017-05-25 18:45:53           1610
2             9031 2017-01-04 08:27:49  2017-01-04 08:34:45            416
3           304487 2017-03-06 13:49:38  2017-03-06 13:55:28            350
4            45207 2017-01-17 14:53:07  2017-01-17 15:02:01            534
...            ...                 ...                  ...            ...
299995       64825 2017-01-21 13:18:00  2017-01-21 13:27:50            590
299996      695993 2017-04-28 19:32:19  2017-04-28 19:51:18           1139
299997      159685 2017-02-12 09:59:01  2017-02-12 10:21:49           1368
299998      564681 2017-04-16 17:07:15  2017-04-16 17:19:00            705
299999     1021247 2017-05-30 12:38:28  2017-05-30 12:55:36           1028

                        Start Station                   End Station  \
0                Wood St & Hubbard St       Damen Ave & Chicago Ave
1                 Theater on the Lake  Sheffield Ave & Waveland Ave
2                  May St & Taylor St           Wood St & Taylor St
3       Christiana Ave & Lawrence Ave  St. Louis Ave & Balmoral Ave
4              Clark St & Randolph St  Desplaines St & Jackson Blvd
...                               ...                           ...
299995        Orleans St & Elm St (*)   Sheffield Ave & Webster Ave
299996     Ashland Ave & Blackhawk St             Clark St & Elm St
299997  Ravenswood Ave & Lawrence Ave  Stockton Dr & Wrightwood Ave
299998      Sheffield Ave & Willow St        Clark St & Chicago Ave
299999      Wacker Dr & Washington St       Damen Ave & Division St

         User Type  Gender  Birth Year     Month   Week Day
0       Subscriber    Male      1992.0      June     Friday
1       Subscriber  Female      1992.0       May   Thursday
2       Subscriber    Male      1981.0   January  Wednesday
3       Subscriber    Male      1986.0     March     Monday
4       Subscriber    Male      1975.0   January    Tuesday
...            ...     ...         ...       ...        ...
299995  Subscriber    Male      1965.0   January   Saturday
299996    Customer     NaN         NaN     April     Friday
299997  Subscriber  Female      1988.0  February     Sunday
299998    Customer     NaN         NaN     April     Sunday
299999  Subscriber    Male      1984.0       May    Tuesday

[300000 rows x 11 columns]

Calculating The Most Frequent Times of Travel...


Calculating The Most Frequent Month of Travel...

Most Common Month: June, Count: 98081, Filter: none

Calculating The Most Frequent Day of Travel...

Most Common Day: Tuesday, Count: 45912, Filter: none

Calculating The Most Frequent Hour of Travel...

Most Common Start Hour: 17, Count: 35992, Filter: none

This took 0.13500761985778809 seconds.
----------------------------------------

Calculating The Most Popular Stations and Trip...


Calculating The Most Start Station...

Most Common Start Station: Streeter Dr & Grand Ave, Count: 6911

Calculating The Most Popular End Station...

Most Common End Station: Streeter Dr & Grand Ave, Count: 7512

Calculating The Most Popular Trip...

Most Common Trip: Lake Shore Dr & Monroe St, Streeter Dr & Grand Ave, Count: 854

This took 0.2890164852142334 seconds.
----------------------------------------

Calculating Trip Duration...


Calculating Total Trip Duration...

Total Travel Time: 280871787

Calculating Average Trip Duration...

Average Travel Time: 936.23929

This took 0.003000020980834961 seconds.
----------------------------------------

Calculating User Stats...


Calculating User Types...

Subscriber: 238889
Customer: 61110
Dependent: 1

Calculating User Gender...

Male: 181190
Female: 57758

Calculating User Year of birth...

Earliest Year: 1899.0
Most Recent Year: 2016.0
Most Common Year: 1989.0

This took 0.1020057201385498 seconds.
----------------------------------------

Displaying random individual trip data...

{
 "": 576697,
 "Start Time": "2017-04-17 17:37:23",
 "End Time": "2017-04-17 17:46:28",
 "Trip Duration": 545,
 "Start Station": "Clinton St & Washington Blvd",
 "End Station": "Rush St & Hubbard St",
 "User Type": "Subscriber",
 "Gender": "Male",
 "Birth Year": 1967.0
}
{
 "": 641760,
 "Start Time": "2017-04-23 20:51:48",
 "End Time": "2017-04-23 21:04:22",
 "Trip Duration": 754,
 "Start Station": "Sheffield Ave & Fullerton Ave",
 "End Station": "Broadway & Cornelia Ave",
 "User Type": "Subscriber",
 "Gender": "Male",
 "Birth Year": 1989.0
}
{
 "": 1496536,
 "Start Time": "2017-06-27 15:40:03",
 "End Time": "2017-06-27 15:48:55",
 "Trip Duration": 532,
 "Start Station": "Dearborn Pkwy & Delaware Pl",
 "End Station": "Wabash Ave & Wacker Pl",
 "User Type": "Subscriber",
 "Gender": "Male",
 "Birth Year": 1987.0
}
{
 "": 1506100,
 "Start Time": "2017-06-27 22:44:45",
 "End Time": "2017-06-27 22:54:15",
 "Trip Duration": 570,
 "Start Station": "Halsted St & Dickens Ave",
 "End Station": "Stockton Dr & Wrightwood Ave",
 "User Type": "Subscriber",
 "Gender": "Male",
 "Birth Year": 1983.0
}
{
 "": 1033529,
 "Start Time": "2017-05-31 08:47:19",
 "End Time": "2017-05-31 08:58:50",
 "Trip Duration": 691,
 "Start Station": "Clinton St & Madison St",
 "End Station": "Orleans St & Ohio St",
 "User Type": "Subscriber",
 "Gender": "Female",
 "Birth Year": 1992.0
}

Would you like to view more individual trip data? Enter yes or no.
yes

Displaying random individual trip data...

{
 "": 576697,
 "Start Time": "2017-04-17 17:37:23",
 "End Time": "2017-04-17 17:46:28",
 "Trip Duration": 545,
 "Start Station": "Clinton St & Washington Blvd",
 "End Station": "Rush St & Hubbard St",
 "User Type": "Subscriber",
 "Gender": "Male",
 "Birth Year": 1967.0
}
{
 "": 641760,
 "Start Time": "2017-04-23 20:51:48",
 "End Time": "2017-04-23 21:04:22",
 "Trip Duration": 754,
 "Start Station": "Sheffield Ave & Fullerton Ave",
 "End Station": "Broadway & Cornelia Ave",
 "User Type": "Subscriber",
 "Gender": "Male",
 "Birth Year": 1989.0
}
{
 "": 1496536,
 "Start Time": "2017-06-27 15:40:03",
 "End Time": "2017-06-27 15:48:55",
 "Trip Duration": 532,
 "Start Station": "Dearborn Pkwy & Delaware Pl",
 "End Station": "Wabash Ave & Wacker Pl",
 "User Type": "Subscriber",
 "Gender": "Male",
 "Birth Year": 1987.0
}
{
 "": 1506100,
 "Start Time": "2017-06-27 22:44:45",
 "End Time": "2017-06-27 22:54:15",
 "Trip Duration": 570,
 "Start Station": "Halsted St & Dickens Ave",
 "End Station": "Stockton Dr & Wrightwood Ave",
 "User Type": "Subscriber",
 "Gender": "Male",
 "Birth Year": 1983.0
}
{
 "": 1033529,
 "Start Time": "2017-05-31 08:47:19",
 "End Time": "2017-05-31 08:58:50",
 "Trip Duration": 691,
 "Start Station": "Clinton St & Madison St",
 "End Station": "Orleans St & Ohio St",
 "User Type": "Subscriber",
 "Gender": "Female",
 "Birth Year": 1992.0
}

Would you like to view more individual trip data? Enter yes or no.
yes

Displaying random individual trip data...

{
 "": 576697,
 "Start Time": "2017-04-17 17:37:23",
 "End Time": "2017-04-17 17:46:28",
 "Trip Duration": 545,
 "Start Station": "Clinton St & Washington Blvd",
 "End Station": "Rush St & Hubbard St",
 "User Type": "Subscriber",
 "Gender": "Male",
 "Birth Year": 1967.0
}
{
 "": 641760,
 "Start Time": "2017-04-23 20:51:48",
 "End Time": "2017-04-23 21:04:22",
 "Trip Duration": 754,
 "Start Station": "Sheffield Ave & Fullerton Ave",
 "End Station": "Broadway & Cornelia Ave",
 "User Type": "Subscriber",
 "Gender": "Male",
 "Birth Year": 1989.0
}
{
 "": 1496536,
 "Start Time": "2017-06-27 15:40:03",
 "End Time": "2017-06-27 15:48:55",
 "Trip Duration": 532,
 "Start Station": "Dearborn Pkwy & Delaware Pl",
 "End Station": "Wabash Ave & Wacker Pl",
 "User Type": "Subscriber",
 "Gender": "Male",
 "Birth Year": 1987.0
}
{
 "": 1506100,
 "Start Time": "2017-06-27 22:44:45",
 "End Time": "2017-06-27 22:54:15",
 "Trip Duration": 570,
 "Start Station": "Halsted St & Dickens Ave",
 "End Station": "Stockton Dr & Wrightwood Ave",
 "User Type": "Subscriber",
 "Gender": "Male",
 "Birth Year": 1983.0
}
{
 "": 1033529,
 "Start Time": "2017-05-31 08:47:19",
 "End Time": "2017-05-31 08:58:50",
 "Trip Duration": 691,
 "Start Station": "Clinton St & Madison St",
 "End Station": "Orleans St & Ohio St",
 "User Type": "Subscriber",
 "Gender": "Female",
 "Birth Year": 1992.0
}

Would you like to view more individual trip data? Enter yes or no.
yes

Displaying random individual trip data...

{
 "": 576697,
 "Start Time": "2017-04-17 17:37:23",
 "End Time": "2017-04-17 17:46:28",
 "Trip Duration": 545,
 "Start Station": "Clinton St & Washington Blvd",
 "End Station": "Rush St & Hubbard St",
 "User Type": "Subscriber",
 "Gender": "Male",
 "Birth Year": 1967.0
}
{
 "": 641760,
 "Start Time": "2017-04-23 20:51:48",
 "End Time": "2017-04-23 21:04:22",
 "Trip Duration": 754,
 "Start Station": "Sheffield Ave & Fullerton Ave",
 "End Station": "Broadway & Cornelia Ave",
 "User Type": "Subscriber",
 "Gender": "Male",
 "Birth Year": 1989.0
}
{
 "": 1496536,
 "Start Time": "2017-06-27 15:40:03",
 "End Time": "2017-06-27 15:48:55",
 "Trip Duration": 532,
 "Start Station": "Dearborn Pkwy & Delaware Pl",
 "End Station": "Wabash Ave & Wacker Pl",
 "User Type": "Subscriber",
 "Gender": "Male",
 "Birth Year": 1987.0
}
{
 "": 1506100,
 "Start Time": "2017-06-27 22:44:45",
 "End Time": "2017-06-27 22:54:15",
 "Trip Duration": 570,
 "Start Station": "Halsted St & Dickens Ave",
 "End Station": "Stockton Dr & Wrightwood Ave",
 "User Type": "Subscriber",
 "Gender": "Male",
 "Birth Year": 1983.0
}
{
 "": 1033529,
 "Start Time": "2017-05-31 08:47:19",
 "End Time": "2017-05-31 08:58:50",
 "Trip Duration": 691,
 "Start Station": "Clinton St & Madison St",
 "End Station": "Orleans St & Ohio St",
 "User Type": "Subscriber",
 "Gender": "Female",
 "Birth Year": 1992.0
}

Would you like to view more individual trip data? Enter yes or no.
yes

Displaying random individual trip data...

{
 "": 576697,
 "Start Time": "2017-04-17 17:37:23",
 "End Time": "2017-04-17 17:46:28",
 "Trip Duration": 545,
 "Start Station": "Clinton St & Washington Blvd",
 "End Station": "Rush St & Hubbard St",
 "User Type": "Subscriber",
 "Gender": "Male",
 "Birth Year": 1967.0
}
{
 "": 641760,
 "Start Time": "2017-04-23 20:51:48",
 "End Time": "2017-04-23 21:04:22",
 "Trip Duration": 754,
 "Start Station": "Sheffield Ave & Fullerton Ave",
 "End Station": "Broadway & Cornelia Ave",
 "User Type": "Subscriber",
 "Gender": "Male",
 "Birth Year": 1989.0
}
{
 "": 1496536,
 "Start Time": "2017-06-27 15:40:03",
 "End Time": "2017-06-27 15:48:55",
 "Trip Duration": 532,
 "Start Station": "Dearborn Pkwy & Delaware Pl",
 "End Station": "Wabash Ave & Wacker Pl",
 "User Type": "Subscriber",
 "Gender": "Male",
 "Birth Year": 1987.0
}
{
 "": 1506100,
 "Start Time": "2017-06-27 22:44:45",
 "End Time": "2017-06-27 22:54:15",
 "Trip Duration": 570,
 "Start Station": "Halsted St & Dickens Ave",
 "End Station": "Stockton Dr & Wrightwood Ave",
 "User Type": "Subscriber",
 "Gender": "Male",
 "Birth Year": 1983.0
}
{
 "": 1033529,
 "Start Time": "2017-05-31 08:47:19",
 "End Time": "2017-05-31 08:58:50",
 "Trip Duration": 691,
 "Start Station": "Clinton St & Madison St",
 "End Station": "Orleans St & Ohio St",
 "User Type": "Subscriber",
 "Gender": "Female",
 "Birth Year": 1992.0
}

Would you like to view more individual trip data? Enter yes or no.
no

Would you like to restart? Enter yes or no.
yes
Hello! Let's explore some US bikeshare data!
Would you like to see data for Chicago, New York City, or Washington?
washington
Would you like to filter the data by month, day, both, or not at all?    Type 'None' for no time filter
day
Which Day?  Please, type out the full day name
sunday
----------------------------------------
        Unnamed: 0          Start Time             End Time  Trip Duration  \
3           665458 2017-04-02 07:48:35  2017-04-02 08:19:03       1827.341
5          1148202 2017-05-14 07:18:18  2017-05-14 07:24:56        398.000
14         1308542 2017-05-28 03:50:26  2017-05-28 04:24:26       2039.472
20          746605 2017-04-09 11:05:42  2017-04-09 11:26:44       1261.363
23          305000 2017-02-19 00:43:00  2017-02-19 00:46:00        226.006
...            ...                 ...                  ...            ...
299969      159118 2017-01-29 14:38:00  2017-01-29 14:49:00        657.799
299977      381662 2017-02-26 14:02:00  2017-02-26 14:14:00        695.843
299978     1497660 2017-06-11 11:36:59  2017-06-11 12:19:48       2569.064
299984      306826 2017-02-19 11:21:00  2017-02-19 18:36:00      26104.597
299996     1495781 2017-06-11 09:48:52  2017-06-11 10:22:31       2018.450

                                      Start Station  \
3                  Constitution Ave & 2nd St NW/DOL
5                                     1st & K St SE
14      Henry Bacon Dr & Lincoln Memorial Circle NW
20      Henry Bacon Dr & Lincoln Memorial Circle NW
23                         18th St & Wyoming Ave NW
...                                             ...
299969    Lincoln Park / 13th & East Capitol St NE
299977   Aurora Hills Community Ctr/18th & Hayes St
299978                               18th & C St NW
299984                22nd & I St NW / Foggy Bottom
299996                        Key Blvd & N Quinn St

                                              End Station   User Type  \
3                              M St & Pennsylvania Ave NW    Customer
5       Eastern Market Metro / Pennsylvania Ave & 7th ...  Subscriber
14                                       Lincoln Memorial    Customer
20      Smithsonian-National Mall / Jefferson Dr & 12t...    Customer
23                             Calvert St & Woodley Pl NW  Subscriber
...                                                   ...         ...
299969                      2nd St & Massachusetts Ave NE  Subscriber
299977                            Potomac Ave & 35th St S  Subscriber
299978                                   Lincoln Memorial    Customer
299984                                     20th & L St NW    Customer
299996                                      5th & K St NW  Subscriber

           Month Week Day
3          April   Sunday
5            May   Sunday
14           May   Sunday
20         April   Sunday
23      February   Sunday
...          ...      ...
299969   January   Sunday
299977  February   Sunday
299978      June   Sunday
299984  February   Sunday
299996      June   Sunday

[39576 rows x 9 columns]

Calculating The Most Frequent Times of Travel...


Calculating The Most Frequent Month of Travel...

Most Common Month: April, Count: 11192, Filter: day

Calculating The Most Frequent Hour of Travel...

Most Common Start Hour: 12, Count: 4141, Filter: day

This took 0.04200243949890137 seconds.
----------------------------------------

Calculating The Most Popular Stations and Trip...


Calculating The Most Start Station...

Most Common Start Station: Lincoln Memorial, Count: 1033

Calculating The Most Popular End Station...

Most Common End Station: Lincoln Memorial, Count: 1034

Calculating The Most Popular Trip...

Most Common Trip: Jefferson Dr & 14th St SW, Jefferson Dr & 14th St SW, Count: 160

This took 0.08200478553771973 seconds.
----------------------------------------

Calculating Trip Duration...


Calculating Total Trip Duration...

Total Travel Time: 64689854.600999996

Calculating Average Trip Duration...

Average Travel Time: 1634.572837098245

This took 0.0010001659393310547 seconds.
----------------------------------------

Calculating User Stats...


Calculating User Types...

Subscriber: 22255
Customer: 17321

This took 0.010000467300415039 seconds.
----------------------------------------

Displaying random individual trip data...

{
 "": 231113,
 "Start Time": "2017-02-08 15:31:00",
 "End Time": "2017-02-08 15:50:00",
 "Trip Duration": 1134.728,
 "Start Station": "S Glebe & Potomac Ave",
 "End Station": "Henry St & Pendleton St",
 "User Type": "Subscriber"
}
{
 "": 3131,
 "Start Time": "2017-01-01 17:02:00",
 "End Time": "2017-01-01 17:25:00",
 "Trip Duration": 1379.364,
 "Start Station": "New York Ave & 15th St NW",
 "End Station": "New York Ave & 15th St NW",
 "User Type": "Subscriber"
}
{
 "": 559237,
 "Start Time": "2017-03-23 09:02:00",
 "End Time": "2017-03-23 09:09:00",
 "Trip Duration": 397.375,
 "Start Station": "Neal St & Trinidad Ave NE",
 "End Station": "M St & Delaware Ave NE",
 "User Type": "Subscriber"
}
{
 "": 703306,
 "Start Time": "2017-04-05 08:17:19",
 "End Time": "2017-04-05 08:32:52",
 "Trip Duration": 932.642,
 "Start Station": "New Jersey Ave & N St NW/Dunbar HS",
 "End Station": "4th & C St SW",
 "User Type": "Subscriber"
}
{
 "": 776262,
 "Start Time": "2017-04-11 10:27:38",
 "End Time": "2017-04-11 10:46:41",
 "Trip Duration": 1143.197,
 "Start Station": "Crystal City Metro / 18th & Bell St",
 "End Station": "Commonwealth Ave & Oak St",
 "User Type": "Subscriber"
}

Would you like to view more individual trip data? Enter yes or no.
no

Would you like to restart? Enter yes or no.
no

#### All code